@font-face {
  font-family: "Kollektif";
  src: url("../fonts/Kollektif.eot");
  src: url("../fonts/Kollektif.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Kollektif.woff2") format("woff2");
  src: url("../fonts/Kollektif.woff") format("woff");
  src: url("../fonts/Kollektif.ttf") format("truetype");
  src: url("../fonts/Kollektif.svg#Kollektif") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kollektif";
  src: url("../fonts/Kollektif-Bold.eot");
  src: url("../fonts/Kollektif-Bold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Kollektif-Bold.woff2") format("woff2");
  src: url("../fonts/Kollektif-Bold.woff") format("woff");
  src: url("../fonts/Kollektif-Bold.ttf") format("truetype"),;
  src: url("../fonts/Kollektif-Bold.svg#Kollektif-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
